/PedidoApp/nbproject/private/
/PedidoApp/build/
/Ejercicio/nbproject/private/
/Pract/nbproject/private/
/AprendiendoJava/nbproject/private/
/AprendiendoJava/build/
/PagoApp/nbproject/private/
/PagosApp/nbproject/private/
/PagossApp/nbproject/private/
/PagarApp/nbproject/private/
/PaguitoApp/nbproject/private/
/PaguitoApp/build/
/MateApp/nbproject/private/
/MateApp/build/